@import "./button.css";
@import "./button-icon.css";
@import "./header.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./message.css";
@import "./testimony.css";
@import "./project.css";
@import "./social.css";
@import "./footer.css";
@import "./form.css";
@import "./title.css";

:root {
  --fontBase: "Poppins", sans-serif;
  --fontVariant: "Oxygen", sans-serif;
  --headline1: bold 5.9375rem / 9.6069rem var(--fontBase);
  --headline2: bold 3.6875rem / 5.9375rem var(--fontBase);
  --headline3: bold 3rem / 4.8125rem var(--fontBase);
  --headline4: bold 2.125rem / 55px var(--fontBase);
  --headline5: bold 1.5rem / 2.375rem var(--fontBase);
  --headline6: 1.5rem / 2.4269rem var(--fontVariant);
  --headline7: bold 16px / 25.89px var(--fontVariant);
  --body1: 1rem / 1.5625rem var(--fontBase);
  --body2: 0.875rem / 1.375rem var(--fontBase);
  --button: bold 0.875rem / 1.375rem var(--fontBase);
  --caption: 0.75rem / 1.1875rem var(--fontBase);
  --purple: #310a90;
  --green: #42e2b8;
  --white: white;
  --gradient: radial-gradient(
      41.48% 11.48% at 2.38% 8.52%,
      #747de9 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(135deg, #72edf2 0%, #5151e5 100%);
}

body {
  margin: 0;
  background: var(--gradient);
  min-block-size: 100vh;
  font: var(--body1);
  color: var(--purple);
}

html {
  scroll-behavior: smooth;
}
